<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kibble Kounter</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <h1>Kibble Kounter</h1>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="row">
                    <div class="col">
                        <div class="row">
                            <div class="col">
                                <form method="post"><label class="form-label">Pet's Name:&nbsp;</label><input class="form-control" type="text" name="p_name"><label class="form-label">Pet's Age:&nbsp;</label><input class="form-control" type="text" name="p_age"><button class="btn btn-primary" type="submit">Add Pet</button></form>
                            </div>
                        </div>
                        <p>Do you have more than one pet that you will add to this device? If yes, then you might need to use facial recognition. Click on "Setup Facial Recognition" to find out more.<br><br><br></p>
                        <div class="row">
                            <div class="col"><a class="btn btn-primary" role="button" href="home">Back to Home</a></div>
                            <div class="col"><a class="btn btn-primary" role="button" href="takephotos">Setup Facial Recognition</a></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>