<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kibble Kounter</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <h1>Kibble Kounter</h1>
    <div class="col">
        <p><em>Instructions for Setting Up the Device for Your Pet</em></p>
    </div><div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Pet Age</th>
            </tr>
        </thead>
        <tbody>
            {% for line in myPets %}
            <tr>
                <td>{{line["petname"]}}</td>
                <td>{{line["petage"]}}</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>
    <form><label class="form-label">Pick a pet from the above table and input it below. Place test weight into food bowl and fill up water bowl to maximum intended capacity. Click "Finish Set Up".</label>
        <div class="input-group"><input class="form-control" type="text" name="p_name"><button class="btn btn-primary" type="button">Finish Set Up</button></div>
    </form>
    <div class="col"><a class="btn btn-primary" role="button" href="home.html">Back to Home</a></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>