<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kibble Kounter</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <h1>Kibble Kounter</h1><div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Pet Age</th>
            </tr>
        </thead>
        <tbody>
            {% for line in myPets %}
            <tr>
                <td>{{line['Pet Name']}}</td>
                <td>{{line['Pet Age']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
    <form method="post"><label class="form-label">Input pet whose diet you will be starting to track and click "Start".</label>
        <div class="input-group"><input class="form-control" type="text" name="p_name"><button class="btn btn-primary" type="submit">Start</button></div>
    </form>
    <div class="col"><a class="btn btn-primary" role="button" href="home">Back to Home</a></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>