<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Kibble Kounter</title>
    <link rel="stylesheet" href="../assets/bootstrap/css/bootstrap.min.css">
</head>

<body>
    <h1>Kibble Kounter</h1>
    <p><em>Instructions for Setting Up Facial Recognition for Your Pet</em></p><div class="table-responsive">
    <table class="table">
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Pet Age</th>
            </tr>
        </thead>
        <tbody>
            {% for line in myPets %}
            <tr>
                <td>{{line["petname"]}}</td>
                <td>{{line["petage"]}}</td>
            </tr>
            <tr></tr>
        </tbody>
    </table>
</div>
    <form><label class="form-label">&nbsp;Place the device in the location you want it to be in. Make sure your pet is not by the device or in front of the camera.&nbsp;The camera will take multiple pictures in the span of 1 minute. Enter "None" below. Click "Take Photos". Now take pictures of your pet. Pick a pet name from the above table and input it below.&nbsp; The camera will again take multiple pictures in the span of 1 minute. Make sure your pet is in front of the camera&nbsp; and click "Take Photos". Click on "Download" to download the following "pictures.zip" folder which contain pictures of your pet, pictures with no pet, and any previous pictures of other pets. Click on "Set Up Facial Recognition".</label>
        <div class="input-group"><input class="form-control" type="text" name="p_name"><button class="btn btn-primary" type="button">Take Photos</button></div>
    </form>
    <div class="col"><button class="btn btn-primary" href="{{url_for('download')}}" type="button">Donwload</button></div>
    <div class="col"><button class="btn btn-primary" type="button">Set Up Facial Recognition</button></div>
    <script src="../assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>